@import url('../../.cache/wal/colors-waybar.css');

* {
	font-family: "CodeNewRoman Nerd Font Propo";
}

.text-box {
	font-size: 20px;
	margin: 10px;
}

.control-center {
	background-color: @background;
	color: @color7;
	border: 1px solid;
	border-color: @color10;
	border-radius: 1px;
	font-size: 20px;
}

.notification {
	background: @background;
	border: 0.5px solid;
	border-color: @color10;
	border-radius: 1px;
	color: @color10;
	font-size: 16px;
	margin: 0px;
}

.notification .rectangle {
	height: 50px;
	width: 100px;
	background-color: #000;
}

.notification-content {
	font-size: 16px;
	margin: 0px;
}

.close-button:hover {}

.notification-window {
	background-color: @background;
	border: 0.5px solid;
	border-color: @color10;
	color: @color10;
	font-size: 16px;
	margin: 0px;
}


.notification-group-close-button {
	color: red;
	background-color: red;
}

.notification-default-action {
	background-color: @color0;
}

.widget-title {
	margin: 0px 7px 0px 7px;
}

.widget-volume {
	padding: 8px;
	margin: 8px;
	border-radius: 1px;
}

.widget-slider {
	color: red;
	border: 1px solid;
	border-color: red;
}

.per-app-volume {
	color: green;
	background-color: yellow;
}

.widget-buttons-grid {
	margin: 6px;
}

.widget-mpris .widget-mpris-player {
	margin: 16px 20px;
	border-radius: 1px;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
	border-radius: 1px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
	-gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-buttons-grid flowboxchild>button {
	background-color: @color0;
	border-radius: 1px;
}

.widget-buttons-grid flowboxchild>button:hover {
	background-color: @color1;
	border-radius: 1px;
}


.widget-buttons-grid flowboxchild>button.toggle:checked {
	background-color: @color1;
}

.top {
	background-color: @color2;
}

.control-center-clear-all {
	background-color: @color0;
	border-radius: 1px;
}


.control-center-clear-all .text-button:hover {
	background-color: @color1;
	border-radius: 1px;
}


.text-button {
	color: @color7;
	border-radius: 1px;
}

.text-button:hover {
	background-color: @color1;
}

.image-button {
	border-radius: 1px;
}
